fastsimoal2_models/Tree1/* linguist-detectable=false
fastsimoal2_models/Tree2/* linguist-detectable=false
fastsimoal2_models/Tree3/* linguist-detectable=false
fastsimoal2_models/Tree4/* linguist-detectable=false
fastsimoal2_models/Tree5/* linguist-detectable=false
fastsimoal2_models/Tree6/* linguist-detectable=false
fastsimoal2_models/Tree7/* linguist-detectable=false
